
        <header>
            <div class="container">
                    <nav>
                        <ul>
                            <li>
                                <a href="#">Home</a>
                            </li>

                            <li>
                                <a href="html/about.html">About</a>
                            </li>

                            <li>
                                <a href="html/listing.html">Resort Listing</a>
                            </li>

                            <li>
                                <a href="html/login.html">Login</a>
                            </li>
                            <li>
                                <a href="html/registration.html">Registration</a>
                            </li>
                        </ul>
                    </nav>
            </div>
        </header>