<main>
  
    <div class="betSystem">
    <app-betSystem (newBet) = "betrec($event)"></app-betSystem>
   </div>
   <div class="numberSelection">
    <app-numSelection (numArr) = "numrec($event)"></app-numSelection>
    <button (click)="clear()">Clear</button>
    <button (click)="navigate()">Cash</button>
    </div>
    <div class="result">
      <div class="result2">
    <h2>Numbers selected</h2>
                          <p *ngFor="let num of numbers;">
                              Mark: {{num}}
                          </p>
    <h2>Total: ${{totalBet}}</h2>
  </div>
    
  </div>
  
  </main>
