
        <header>
            <div class="container1">
                    <div>
                        <h2>Select </h2>
                        <p *ngFor="let num of numbers; let i index">
                            <button (click)="selectNum(num)"
                            [ngClass]="{'green' : !pressed[i-1], 'red' : pressed[i-1]}">
                            {{num}}
                        </button>
                        </p>
                    </div>

                    
            </div>
        </header>